<div class="center">

  <%= form_for @resume do |f| %>

    <%= f.text_field :name, :autofocus => true %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :address %>
    <%= f.label :address %>
    <br>
    <%= f.text_field :phone %>
    <%= f.label :phone %>
    <br>
    <%= f.text_field :email %>
    <%= f.label :email %>
    <br>
    <%= f.text_field :work1 %>
    <%= f.label :work1 %>
    <br>
    <%= f.text_field :location1 %>
    <%= f.label :location1 %>
    <br>
    <%= f.text_field :role1 %>
    <%= f.label :role1 %>
    <br>
    <%= f.text_field :date_range1 %>
    <%= f.label :date_range1 %>
    <br>
    <%= f.text_field :work_bullet_1_1 %>
    <%= f.label :work_bullet_1_1 %>
    <br>
    <%= f.text_field :work_bullet_1_2 %>
    <%= f.label :work_bullet_1_2 %>
    <br>
    <%= f.text_field :work_bullet_1_3 %>
    <%= f.label :work_bullet_1_3 %>
    <br>
    <%= f.text_field :work2 %>
    <%= f.label :work2 %>
    <br>
    <%= f.text_field :location2 %>
    <%= f.label :location2 %>
    <br>
    <%= f.text_field :role2 %>
    <%= f.label :role2 %>
    <br>
    <%= f.text_field :date_range2 %>
    <%= f.label :date_range2 %>
    <br>
    <%= f.text_field :work_bullet_2_1 %>
    <%= f.label :work_bullet_2_1 %>
    <br>
    <%= f.text_field :work_bullet_2_2 %>
    <%= f.label :work_bullet_2_2 %>
    <br>
    <%= f.text_field :work_bullet_2_3 %>
    <%= f.label :work_bullet_2_3 %>
    <br>
    <%= f.text_field :work3 %>
    <%= f.label :work3 %>
    <br>
    <%= f.text_field :location3 %>
    <%= f.label :location3 %>
    <br>
    <%= f.text_field :role3 %>
    <%= f.label :role3 %>
    <br>
    <%= f.text_field :date_range3 %>
    <%= f.label :date_range3 %>
    <br>
    <%= f.text_field :work_bullet_3_1 %>
    <%= f.label :work_bullet_3_1 %>
    <br>
    <%= f.text_field :work_bullet_3_2 %>
    <%= f.label :work_bullet_3_2 %>
    <br>
    <%= f.text_field :work_bullet_3_3 %>
    <%= f.label :work_bullet_3_3 %>
    <br>
    <%= f.text_field :college %>
    <%= f.label :college %>
    <br>
    <%= f.text_field :college_location %>
    <%= f.label :college_location %>
    <br>
    <%= f.text_field :degree_type %>
    <%= f.label :degree_type %>
    <br>
    <%= f.text_field :degree_subject %>
    <%= f.label :degree_subject %>
    <br>
    <%= f.text_field :college_year %>
    <%= f.label :college_year %>
    <br>
    <%= f.text_field :gpa %>
    <%= f.label :gpa %>
    <br>
    <%= f.text_field :relevant_coursework %>
    <%= f.label :relevant_coursework %>
    <br>
    <%= f.text_field :extra_bullet %>
    <%= f.label :extra_bullet %>
    <br>
    <%= f.text_field :hs %>
    <%= f.label :hs %>
    <br>
    <%= f.text_field :hs_location %>
    <%= f.label :hs_location %>
    <br>
    <%= f.text_field :hs_year %>
    <%= f.label :hs_year %>
    <br>
    <%= f.text_field :interests %>
    <%= f.label :interests %>
    <br>
    <%= f.submit %>
  <% end %>
</div>