<!DOCTYPE html>
<html>
<head>
  <title>ResumeGenerator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to("Home", resumes_path) %></li>
      <li><%= link_to("Instructions", instructions) %></li>
      <li><%= link_to("New Resume", new_resume_path) %></li>
      <li><%= link_to("Home", resumes) %></li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
